@media screen and (max-device-width: 600px) {
    .c {
        width: 100%;
        padding: 0 10px;
    }

    #nav {
        padding: 20px 0;
    }

    #nav div a:nth-child(2n) {
        margin-left: 4%;
    }

    #nav a {
        margin: 0;
        width: 48%;
        white-space: nowrap;
        line-height: 40px;
        font-size: 16px;
        border-bottom: 1px solid #eee;
    }

    #nav .menus {
        display: block;
        font-size: 0;
        width: 100%;
    }

    #nav .login_info {
        display: block;
        width: 100%;
        font-size: 0;
    }

    #header {
        height: 80px;
        line-height: 80px;
    }

    #header .brand {
        font-size: 36px;
        text-align: center;
        display: block;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        min-width: 100%;
        height: 35px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        font-size: 18px;
    }

    input[type="submit"] {
        font-weight: bold;
        background: #69c;
        width: 100%;
        height: 40px;
        font-size: 18px;
    }

    ul.articles li div.img {
        float: none;
        margin: 0 auto 10px;
        max-height: 72px;
        max-width: 72px;
        height: auto;
        width: auto;
    }

    ul.articles li div.right {
        margin-left: 0;
        text-align: center;
    }
}